.center-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#center-image {
    width: 40px;
    height: 40px;
    max-width: 100%;
    max-height: 100%;
}
